<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FC Barcelona</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Oswald:wght@200..700&family=Tenor+Sans&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Allan:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <nav class="teams-navbar">
        <div class="navbar-container">
            <a href="/" class="navbar-logo">
                <img src="{{ url_for('static', filename='/icons/LaLigaTransparent.png') }}" alt="La Liga Logo" class="logo-img" height="100">
            </a>
            <button class="navbar-toggle">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </button>
            <ul class="navbar-menu">
                <li><a href="/">Home</a></li>
                <li><a href="/teams">Teams</a></li>
                <li><a href="/predictions">Predictions</a></li>
            </ul>
        </div>
    </nav>

    <div class="Barcelona-Header">
        <img src="{{ url_for('static', filename='teamsLogo/FC Barcelona.png') }}" alt="FC Barcelona Logo" class="team-logo" width="185px" height="200px">
        
    </div>

    <div class="Barcelona-Page">
        <section class="players-section">
            <div id="player-container" class="player-grid"></div>
            <ul id="players-list"></ul>
        </section>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>