<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>La Liga 2025-26 Analytics</title>

        <link rel="icon" type="image/png" href="{{ url_for('static', filename='icons/favicon.png') }}">

        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap" rel="stylesheet">
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>


        <section class="home" id="home">
            <div class="home-content">
                <h1>La Liga Zone: 2025-26 Analytics</h1>
                <h2 class="text-animation">Meet the Teams  <span></span></h2>

                <p>
                    This website explores the 2025-26 La Liga season featuring team details,
                    statistics, and AI-powered predictions. Whether you're tracking your favorite
                    club, curious about who might take the championship for the 25-26 season,
                    you will find everything here!
                </p>

                <p>
                    The <strong>Predictions</strong> page showcases insights from a custom machine
                    learning model trained on past La Liga data to forecast standings and identify
                    potential top performers. Be sure to check it out to see which teams are projected 
                    to dominate in the 25-26 La Liga season!
                </p>
                
                <div class="button">
                    <a href="/teams" style="--clr:#1e9bff" class="btn"><span>Explore Teams</span><i></i></a>
                    <a href="/predictions" style="--clr:#ff5c5c" class="btn"><span>Champion Predictions</span></a>
                </div>
            </div>
        </section>


        <aside class="sidebar">
            <!--- Sidebar Header -->
            <header class="sidebar-header">
                <a href="#" class="header-logo">
                    <img src="{{ url_for('static', filename='/icons/LaLigaBlack.png') }}" alt="La Liga Logo" class="logo-img">
                </a>

                <button class="sidebar-toggle">
                    <span class="material-symbols-outlined">chevron_left</span>
                </button>
            </header>
            <nav class="sidebar-nav">
                <ul class="nav-list primary-nav">
                    <li class="nav-item">
                        <a href="/" class="nav-link">
                            <span class="material-symbols-outlined">home</span>
                            <span class="nav-label">HOME</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="nav-item">
                                <a href="/" class="nav-link dropdown-link">Home</a>
                            </li>
                            <li class="nav-item">
                                <a href="/predictions" class="nav-link dropdown-link">Predictions</a>
                            </li>
                        </ul>
                    </li>

                    <!-- Dropdown -->
                    <li class="nav-item dropdown-container">
                        <a href="#" class="nav-link dropdown-toggle">
                            <span class="material-symbols-outlined">group</span>
                            <span class="nav-label">TEAMS</span>
                            <span class="dropdown-icon material-symbols-outlined">keyboard_arrow_down</span>
                        </a>
                        <!-- Dropdown Menu -->
                        <ul class="dropdown-menu">
                            <li class="nav-item">
                                <a href="/teams" class="nav-link dropdown-link">All Teams</a>
                            </li>
                            <li class="nav-item">
                                <a href="/real-madrid" class="nav-link dropdown-link">Real Madrid</a>
                            </li>
                            <li class="nav-item">
                                <a href="/barcelona" class="nav-link dropdown-link">Barcelona</a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a href="/predictions" class="nav-link">
                            <span class="material-symbols-outlined">trophy</span>
                            <span class="nav-label">PREDICTIONS</span>
                        </a>
                    <ul class="dropdown-menu">
                        <li class="nav-item">
                            <a href="/predictions" class="nav-link dropdown-link">Predictions</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </aside>


        <div class="container"></div>
        <script src="{{ url_for('static', filename='script.js') }}"></script>

        <!--Project Credit-->
        <footer>
            <p>© 2025 La Liga Zone - Built by Annabelle Hirmiz using Flask, HTML/CSS, JavaScript, and Machine Learning.</p>
        </footer>
    </body>
</html>