<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teams</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>

<body>
    <div class="teams-page">
      <nav class="teams-navbar">
        <div class="navbar-container">
            <a href="/" class="navbar-logo">
                <img src="{{ url_for('static', filename='/icons/LaLigaTransparent.png') }}" alt="La Liga Logo" class="logo-img" height="100">
            </a>
            <ul class="navbar-menu">
                <li><a href="/">Home</a></li>
                <li><a href="/teams">Teams</a></li>
                <li><a href="/predictions">Predictions</a></li>
            </ul>
        </div>
    </nav>

    <!-- SEARCH FOR TEAMS -->
    <section class="teams">
        <h1>La Liga Teams</h1>
        <p>Discover the latest teams:</p>
    
        <div class="search-wrapper">
            <div class="search-box">
                <ion-icon name="search"></ion-icon>
                <input
                  type="text" 
                  id="teamSearch" 
                  placeholder="Search For Teams"/>
            </div>
        </div>
    </section>

    <!-- TEAMS GRID -->
    <section class="teams" id="teams">
        <div class="box-container">

            <div class="box">
                <div class="card athletic-club">
                    <div class="logo">
                        <img src="{{ url_for('static', filename='teamsLogo/Athletic Club.png') }}" />
                    </div>
                    <div class="team-name">
                        <h3>Athletic<br>Club</h3>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="card atletico-madrid">
                    <div class="logo">
                        <img src="{{ url_for('static', filename='teamsLogo/Atlético Madrid.png') }}" />
                    </div>
                    <div class="team-name">
                        <h3>Atlético<br>Madrid</h3>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="card osasuna">
                    <div class="logo">
                        <img src="{{ url_for('static', filename='teamsLogo/CA Osasuna.png') }}" />
                    </div>
                    <div class="team-name">
                        <h3>CA<br>Osasuna</h3>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="card celta">
                    <div class="logo">
                        <img src="{{ url_for('static', filename='teamsLogo/RC Celta de Vigo.png') }}" />
                    </div>
                    <div class="team-name">
                        <h3>RC Celta<br>de Vigo</h3>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="card deportivo-alaves">
                    <div class="logo">
                        <img src="{{ url_for('static', filename='teamsLogo/Deportivo Alavés.png') }}" />
                    </div>
                    <div class="team-name">
                        <h3>Deportivo<br>Alavés</h3>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="card elche">
                    <div class="logo">
                        <img src="{{ url_for('static', filename='teamsLogo/Elche CF.png') }}" />
                    </div>
                    <div class="team-name">
                        <h3>Elche<br>CF</h3>
                    </div>
                </div>
            </div>


            <a href="/barcelona">
                <div class="box">
                    <div class="card barcelona">
                        <div class="logo">
                            <img src="{{ url_for('static', filename='teamsLogo/FC Barcelona.png') }}" />
                        </div>
                        <div class="team-name">
                            <h3>FC<br>Barcelona</h3>
                        </div>
                    </div>
                </div>
            </a>

            <div class="box">
                <div class="card getafe">
                    <div class="logo">
                        <img src="{{ url_for('static', filename='teamsLogo/Getafe CF.png') }}" />
                    </div>
                    <div class="team-name">
                        <h3>Getafe<br>CF</h3>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="card girona">
                    <div class="logo">
                        <img src="{{ url_for('static', filename='teamsLogo/Girona FC.png') }}" />
                    </div>
                    <div class="team-name">
                        <h3>Girona<br>FC</h3>
                    </div>
                </div>
            </div>


            <div class="box">
                <div class="card levante">
                    <div class="logo">
                        <img src="{{ url_for('static', filename='teamsLogo/Levante UD.png') }}" />
                    </div>
                    <div class="team-name">
                        <h3>Levante<br>UD</h3>
                    </div>
                </div>
            </div>


            <div class="box">
                <div class="card rayo-vallecano">
                    <div class="logo">
                        <img src="{{ url_for('static', filename='teamsLogo/Rayo Vallecano.png') }}" />
                    </div>
                    <div class="team-name">
                        <h3>Rayo<br>Vallecano</h3>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="card rcd-espanyol">
                    <div class="logo">
                        <img src="{{ url_for('static', filename='teamsLogo/RCD Espanyol.png') }}" />
                    </div>
                    <div class="team-name">
                        <h3>RCD<br>Espanyol</h3>
                    </div>
                </div>
            </div>


            <div class="box">
                <div class="card rcd-mallorca">
                    <div class="logo">
                        <img src="{{ url_for('static', filename='teamsLogo/RCD Mallorca.png') }}" />
                    </div>
                    <div class="team-name">
                        <h3>RCD<br>Mallorca</h3>
                    </div>
                </div>
            </div>


            <div class="box">
                <div class="card real-betis">
                    <div class="logo">
                        <img src="{{ url_for('static', filename='teamsLogo/Real Betis.png') }}" />
                    </div>
                    <div class="team-name">
                        <h3>Real<br>Betis</h3>
                    </div>
                </div>
            </div>


            <a href="/real-madrid">
            <div class="box">
                <div class="card real-madrid">
                    <div class="logo">
                        <img src="{{ url_for('static', filename='teamsLogo/Real Madrid.png') }}" />
                    </div>
                    <div class="team-name">
                        <h3>Real<br>Madrid</h3>
                    </div>
                </div>
            </div>
            </a>


            <div class="box">
                <div class="card real-oviedo">
                    <div class="logo">
                        <img src="{{ url_for('static', filename='teamsLogo/Real Oviedo.png') }}" />
                    </div>
                    <div class="team-name">
                        <h3>Real<br>Oviedo</h3>
                    </div>
                </div>
            </div>


            <div class="box">
                <div class="card real-sociedad">
                    <div class="logo">
                        <img src="{{ url_for('static', filename='teamsLogo/Real Sociedad.png') }}" />
                    </div>
                    <div class="team-name">
                        <h3>Real<br>Sociedad</h3>
                    </div>
                </div>
            </div>


            <div class="box">
                <div class="card sevilla">
                    <div class="logo">
                        <img src="{{ url_for('static', filename='teamsLogo/Sevilla FC.png') }}" />
                    </div>
                    <div class="team-name">
                        <h3>Sevilla<br>FC</h3>
                    </div>
                </div>
            </div>


            <a href="valencia-players.html">
            <div class="box">
                <div class="card valencia">
                    <div class="logo">
                        <img src="{{ url_for('static', filename='teamsLogo/Valencia CF.png') }}" />
                    </div>
                    <div class="team-name">
                        <h3>Valencia<br>CF</h3>
                    </div>
                </div>
            </div>
            <a>
            </div>
        </div>
    </section>
</div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>


</body>

</html>
