<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valencia CF</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Oswald:wght@200..700&family=Tenor+Sans&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Allan:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <nav class="teams-navbar">
        <div class="navbar-container">
            <a href="home.html" class="navbar-logo">LaLiga</a>
            <button class="navbar-toggle">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </button>
            <ul class="navbar-menu">
                <li><a href="home.html">Home</a></li>
                <li><a href="teams.html">Teams</a></li>
                <li><a href="#">Nations</a></li>
                <li><a href="#">Position</a></li>
            </ul>
        </div>
    </nav>

    <div class="Valencia-Header">
        <img src="teamsLogo/Valencia CF.png" alt="Valencia CF Logo" class="team-logo" width="150px" height="200px">
        <h1>Valencia</h1>
    </div>

    <div class="Valencia-Page">
        <section class="players-section">
            <div id="player-container" class="player-grid"></div>
            <ul id="players-list"></ul>
        </section>
    </div>

    <script src="script.js"></script>

</body>

</html>